.card {
    min-width: 350px;
    margin: 3rem 1rem;
    background: white;
    padding: 2rem 1rem;
    box-shadow: 0px 2px 10px var(--primary);
    position: relative;
}
.cardShined {
    min-width: 350px;
    margin: 3rem 1rem;
    background: white;
    padding: 2rem 1rem;
    box-shadow: 0px 2px 10px var(--primary);
    position: relative;
    border-left: 5px solid var(--primary);
    border-radius: 6px;
}
.logo {
    width: 50px;
    position: absolute;
    top: -25px;
    left: 10px;
}

h3 {
    color: var(--primary);
    font-size: .9rem;
}
h2 {
    font-size: 1.1rem;
    color: var(--darkCyan);
}
h2:hover {
    color: var(--primary);
    cursor: pointer;
}

.moreInfo {
    color: var(--cyan);
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--cyan);
   
    
    font-size: .8rem;
}
.moreInfo__inner {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

