.App {
    background-color: var(--bg);
}
main {
    min-height: 100vh;
}

header {
    background-color: var(--primary);
    background-image: url('./images/bg-header-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 157px;
}
img {
    width: 100%;
}


@media (min-width: 400px) {
    header {
        background-image: url('./images/bg-header-desktop.svg');
       
    }
}

@media (min-width: 700px) {
    main {
        /* width: 90%; */
        margin: 0 auto;
    }
}
@media (min-width: 1024px) {
    main {
        width: 80%;
        margin: 0 auto;
    }
}