.App {
    background-color: var(--bg);
}

header {
    background-color: var(--primary);
    background-image: url('./images/bg-header-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 157px;
}
img {
    width: 100%;
}


@media (min-width: 400px) {
    header {
        background-image: url('./images/bg-header-desktop.svg');
       
    }
}

@media (min-width: 700px) {
    .App {
        width: 70%;
        margin: 0 auto;
    }
}